
<div class="col" style="margin-bottom: 20px; padding-left: 20px;">
    <ul class="row title-row">
        <ng-container *ngFor="let item of items">
            <li> Prod </li>
        </ng-container>
        <li> Marca </li>
        <li> Modelo </li>
        <li> Bulto </li>
        <li> Stock </li>
        <li> Precio </li>
    </ul>
</div>

<div *ngFor="let item of items">
    <div class="row">
        <ul class="row item-col product-row pointer" (click)="selectedRow(item._id)">
            <li>
                <p> {{ item.type | titlecase }} </p>
            </li>
            <li>
                <p> {{ item.brand | titlecase }} </p>
            </li>
            <li>
                <p> {{ item.model |titlecase }} </p>
            </li>
            <li>
                <p> x{{ item.cant }} </p>
            </li>
            <li>
                <p> {{ item.stock }} </p>
            </li>
            <li>
                <p> {{ item.price | currency:'ARS':'symbol-narrow':'.2-2' }} </p>
            </li>
        </ul>
    </div>
</div>
