
<nav>
    <ul class="nav">
        <li class="logo">
            <img (click)="navigateTo('home')" class="pointer" src="/assets/box-logo.png" alt="">
        </li>
        <li class="item pointer" (click)="navigateTo('inventory')">
            <i class="fa-solid fa-box-archive fa-2x"></i>
            <a> Inventory </a>
        </li>

        <li class="item pointer" (click)="navigateTo('sales')">
            <i class="fa-solid fa-circle-check fa-2x"></i>
            <a>Sales</a>
        </li>
        <li class="item pointer" (click)="navigateTo('orders')">
            <i class="fa-solid fa-cart-shopping fa-2x"></i>
            <a>Orders</a>
        </li>
        <li class="item pointer">
            <i class="fa-solid fa-users fa-2x"></i>
            <a>Clients</a>
        </li>
        <li class="item pointer">
            <i class="fa-solid fa-circle-plus fa-2x"></i>
            <a>New Article</a>
        </li>

        <div class="auth pointer">
            <li>
                <a (click)="navigateTo('auth/login')">Log In</a>
            </li>
            <li>
                <a (click)="navigateTo('auth/signup')">Sign Up</a>
            </li>
        </div>
    </ul>
</nav>
