
nav {
    border-bottom: 1px solid #e2e2e2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul .left {
    display: flex;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 3px;
}

li a:hover {
    border-bottom: 3px solid #273746;
    color: #273746;
    margin-bottom: -3px;
}

.logo {
    width: 50px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.items {
    margin-left: 10px;
}

