
<nav>
    <ul class="nav">
        <div class="left">
            <li class="logo">
                <img (click)="navigateTo('home')" class="pointer" src="/assets/vox-logo" alt="">
            </li>
            <div class="items pointer">
                <li>
                    <a (click)="navigateTo('stock')"> Stock list </a>
                </li>
                <li>
                    <a> Sales </a>
                </li>
            </div>
        </div>

        <div class="auth pointer">
            <li>
                <a> USER </a>
            </li>
        </div>
    </ul>
</nav>