
nav {
    border-bottom: 1px solid #e2e2e2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul .left {
    display: flex;
    flex-basis: 50%;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    box-sizing: border-box;
    margin-bottom: 3px;
}

li a:hover {
    border-bottom: 3px solid #273746;
    color: #273746;
    margin-bottom: -3px;
}

.logo {
    width: 50px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.items {
    margin-left: 10px;
    flex-basis: 100%;
}

.dropdown {
    width: 20%;
}

.dropdown a {
    height: 100%;
    margin: 0;
}

.dropdown-select {
    box-sizing: border-box;
    background-image: url("/assets/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
    padding-left: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-list {
    position: fixed;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    visibility: 0;
    border-radius: 6px;
}

.dropdown-list__item {
    background-color: white;
    padding: 0.6rem;
    border-radius: 6px;
}

.dropdown-list__item:hover {
    background-color: #273746;
    color: white;
}

/* .dropdown {
    position: relative;
}

.dropdown-select {
    box-sizing: border-box;
    background-image: url("/assets/white-drpdwn.png");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    padding-left: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-list {
    border-radius: 4px;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-list__item {
    background-color: white;
    border-radius: 6px;
    padding: 0.6rem;
}

.dropdown-list__item:hover {
    background-color: #273746;
    color: white;
} */