
<div class="modal">
    <div class="modal-header">
        <h3>Add new product...</h3>
        <button (click)="closeModal()" class="close"></button>
    </div>
    <div class="modal-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi, voluptas quam adipisci provident maxime ut ab placeat modi, fugiat labore illo. Officia iure deserunt impedit autem maiores ea. Aut.</p>
    </div>
    <div class="modal-footer">
        <button class="btn">Cancel</button>
    </div>
</div>