/* div .list {
    flex-shrink: 0;
    width: 75%;
} */
.body {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    width: 100vw;
    height: 100vh;
}

.nav {
    grid-column: 1/4;
    width: 100%;
    margin: 0;
}

.main {
    grid-column: 4/25;
    margin: 40px;
    background-color: white;
}

@media (max-width: 768px) {
  app-navbar {
    display: none;
  }
}

@media (min-width: 992px){
    .container {
        max-width: 768px;
    }

 }

 @media (min-width: 1200px){
    .container {
        max-width: 968px;
    }

 }

 @media (min-width: 1400px){
    .container {
        max-width: 1400px;
    }

 }
