h1 {
    text-align: center;
    justify-content: center;
    margin: 60px;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div .list {
    flex-shrink: 0;
    width: 75%;
}

.search {
    width: 100%;
    margin-left: 20px;
}

.search input {
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    background-image: url("/assets/search.svg");
    background-size: 30px 30px;
    background-position: 5px;
    background-repeat: no-repeat;
    box-shadow: inset 0 1px 3px #ddd;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
}

.search input:focus {
    width: 100%;
}