<div class="dashboard">
  <div class="title">
      <h1>Inventory App</h1>
  </div>

    <!-- <cdk-virtual-scroll-viewport itemSize="50" class="list">
        <h3>Results from BUSCADOR</h3>
        <app-list [items]="itemExample"></app-list>
    </cdk-virtual-scroll-viewport>

    <div class="search">
        <input type="text" placeholder="Search...">
        <input #searchInput type="text" placeholder="Search...">
        <button class="btn" >Search</button>
    </div> -->

    <div class="setup">
      <div class="item" (click)="navigateTo('orders')">
        <i class="fa-solid fa-cart-shopping fa-2x"></i>
        <h3>Orders</h3>
      </div>

      <div class="item" (click)="navigateTo('sales')">
        <i class="fa-solid fa-circle-check fa-2x"></i>
        <h3>Sales</h3>
      </div>

      <div class="item" (click)="navigateTo('inventory')">
        <i class="fa-solid fa-box-archive fa-2x"></i>
        <h3>Inventory</h3>
      </div>

      <div class="item">
        <i class="fa-solid fa-users fa-2x"></i>
        <h3>Clients</h3>
      </div>

      <div class="item">
        <i class="fa-solid fa-circle-plus fa-2x"></i>
        <h3>New article</h3>
      </div>
        <!-- <input #searchInput type="text" placeholder="Search...">
        <button class="btn" >Search</button> -->
    </div>

    <div class="new-order">
      <button class="btn">
        <i class="fa-solid fa-cart-plus"></i>
        New Order
      </button>
    </div>
</div>

<footer style="height: 50px;">

</footer>
