
.row {
    flex-wrap: wrap;
    justify-content: space-between;
}

.field {
    font-size: 1.15rem;
    border: 2px solid red;
    flex-basis: 33%;
    display:block;
}

.field label {
    border: 2px solid green;
}

.field input {
    height: 40px;
    width: auto;
    font-size: 1rem;
    margin: auto;
    border: 2px solid blue;
    position: relative;
    margin: auto;
}