<form [formGroup]="forma" (ngSubmit)="save()">

    <div class="row">
        <div class="field">
            <label for="type" class="form__label">Type </label>
            <input type="text" placeholder="Type" formControlName="type" class="form__field">
        </div>

        <div class="field">
            <label for="brand">Brand </label>
            <input type="text" placeholder="Brand" formControlName="brand" class="form__field">
        </div>

        <div class="field">
            <label for="model">Model </label>
            <input type="text" placeholder="Model" formControlName="model" class="form__field">
        </div>

        <div class="field">
            <label for="cant">Quantity </label>
            <input type="text" placeholder="Cant" formControlName="cant" class="form__field">
        </div>

        <div class="field">
            <label for="stock">Stock </label>
            <input type="text" placeholder="Stock" formControlName="stock" class="form__field">
        </div>

        <div class="field">
            <label for="price">Price </label>
            <input type="text" placeholder="Price $ARS" formControlName="price" class="form__field">
        </div>

    </div>
    <button type="submit" class="btn">Add</button>
</form>
