
<div>
    <h2>Lista de Stock</h2>
</div>

<div class="search row">
    <div class="col search-input">
        <input #search type="text" (keyup.enter)="searchProducts(search.value)">
    </div>

    <div>
        <button class="btn" (click)="openModal()">+</button>
    </div>

    <!-- Order by -->
    <div class="col dropdown">

        <div class="dropdown-select pointer background-color-2">
            <span class="select"> Order by </span>
            <i></i>
        </div>

        <div class="dropdown-list pointer">
            <div class="dropdown-list__item" (click)="orderByStock()">Cantidad de stock</div>
            <div class="dropdown-list__item">Alfabeticamente +</div>
            <div class="dropdown-list__item">Alfabeticamente -</div>
            <div class="dropdown-list__item">Agregados recientemente</div>
            <div class="dropdown-list__item">Marca</div>
        </div>

        <!-- <label for="types"></label>
        <select id="types" class="background-color-1 select">
            <option value="Cantidad de Stock" class="value">Cantidad de Stock</option>
            <option value="Alfabeticamente +">Alfabeticamente +</option>
            <option value="Alfabeticamente -">Alfabeticamente -</option>
            <option value="Agregados recientemente">Agregados recientemente</option>
            <option value="Marca">Marca</option>
        </select> -->
    </div>
</div>

<div class="modal-bg" *ngIf="this.dataService.modalIsOpen">
    <app-modal class="modal" (pushProduct)="pushProduct($event)"></app-modal>
</div>

<!-- items list -->

<app-list [items]="products" (delete)="deleteProduct($event)" [buttons]="true"></app-list>
