
h2 {
    text-align: center;
    margin: 60px;    
}

.search {
    margin-top: 40px;
}

.search input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-image: url("/assets/search.svg");
    background-size: 26px 26px;
    background-position: 5px;
    background-repeat: no-repeat;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 40px;
}

.search select {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
    padding: 0 0 0 10px;
}

.row {
    width: 100%;
    justify-content: unset;
}

.search-input {
    flex-grow: 6;
}

.btn {
    height: 100%;
    width: 40px;
    margin-left: 10px;
    font-size: 1.5rem;
    color:#273746;
    background-color: #ecf0f1;
    border: 2px solid #273746;
    border-radius: 6px;
}

.btn:hover {
    color: white;
    background-color: #273746;
    border-color: #273746;
}

.dropdown {
    flex-grow: 3;
    position: relative;
    margin-left: 30px;
}

.search .dropdown-select {
    height: 40px;
    box-sizing: border-box;
    background-size: 30px 30px;
    background-image: url("/assets/white-drpdwn.png");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    border-radius: 6px;
    padding-left: 0.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: #2e4053;
    color: white;
}

.dropdown-list {
    border-radius: 4px;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-list__item {
    background-color: white;
    border-radius: 6px;
    padding: 0.6rem;
    font-size: 1.1rem;
}

.dropdown-list__item:hover {
    background-color: #273746;
    color: white;
}

.modal-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.list-abm {
    margin-top: 20px;
}

.list {
    flex-grow: 1;
}

.abm {
    flex-grow: 1;
    justify-self: center;
}

.abm .btn {
    height: 40px;
    width: 46%;
}